.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(92, 92, 92, 0.7);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-block {
    background-color: aliceblue;
    width: 50%;
    max-height: 90vh;
    overflow-y: auto;
    display: grid;
    grid-template-rows: auto 1fr;
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 8px;
}

.header__image {
    width: 100%;
    padding: 3px;
    border-radius: 5%;
}

.header__right-top {
    display: flex;
    justify-content: space-between;
}

.footer{
    padding: 0 5px 5px 5px;
    
}