.categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
}

.categories__text {
    color: var(--text);
    text-decoration: none;
    font-size: 18px;
}