<div class="catalog-wrapper">
    <div class="sidebar-wrapper">
        <app-sidebar [category]="Categories"></app-sidebar>
    </div>
    <div class="cards-wrapper">
        @for (product of products; track product.id) {
        <app-card [product]="product" (productButton)="openProductModal($event)" (cartButton)="onAddToCart($event)"></app-card>
        }
    </div>
</div>

@if (isModalOpen && selectedProduct) {
<app-product-modal [product]="selectedProduct" (close)="closeProductModal()" (addToCart)="onAddToCart($event)"></app-product-modal>
}