.cards-wrapper {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1.2rem;
    align-items: stretch;
    padding-right: 20px;
    padding-top: 10px;
}

.sidebar-wrapper {
    width: 220px;
}

.catalog-wrapper {
    display: flex;
    align-items: flex-start;
}